.bg-image {
  background-image: url(./glassesImage/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-title {
  background-color: rgba(0, 0, 0, 0.5);
}
.bg-title h2 {
  color: white;
}
.model {
  height: 350px;
  width: 100%;
  background-image: url(./glassesImage/model.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
